body {
  margin: 0;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #07f;
}

.navItem:active {
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.navLogo {
  height: 100px;
  width: 100px;
  margin-left: -15rem;
  margin-top: 1rem;
}

.pageTitle {
  margin-top: 2.5rem;
  text-align: center;
}

.navBar {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 4rem;
  margin-top: 4rem;
}

.mission-table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  margin-top: 2rem;
  margin-left: 10px;
  margin-left: 1px;
}

.table-head,
.mission-data,
.mission-head {
  border: 1px solid black;
  border-collapse: collapse;
}

.mission-data {
  border: 1px solid black;
  border-collapse: collapse;
  width: 140px;
}

.mission1Name,
.missionName {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  width: 12%;
}

.missionDesc,
.mission1Desc {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  width: 55%;
}

.missionStatus {
  border: 1px solid black;
  border-collapse: collapse;
  width: 18%;
}

.mission1Status {
  border: 1px solid black;
  border-collapse: collapse;
  width: 10%;
}

.mission1Btn {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  width: 7%;
}

/* styling for rockets */

.rocket-img {
  width: 250px;
  height: 200px;
}

.reserved {
  background-color: #18a2b8 !important;
}
